@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

:root {
  /* COLORS */
  --color1: #01dce6;
  --color2: #0dfcc5;
  --color3: #0db1fc;
  --color4: #0cf27c;
  --color5: #0c6ef2;

  /* FONT */
  --font-fam1: "Krona One", sans-serif;
  --font-size1: 1.2rem;
  --font-size2: 2.7rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color1);
  height: 100%;
  font-family: var(--font-fam1);
  font-size: var(--font-size1);
}

/* TITLE */
#title {
  align-content: center;
  color: #fff;
  padding: 30px 30px;
  width: 100%;
  margin: 30px 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--color5);
  font-size: var(--font-size2);
}

#description {
  font-style: italic;
  text-align: center;
  padding: 0.7em;
  width: 100%;
  margin: 2em auto;
  background-color: var(--color2);
}

/* FORM */
#survey-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: auto;
  margin: 5em auto;
  border: 10px solid var(--color5);
  background-color: var(--color5);
}

/* FORM ELEMENTS */
h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1em;
  margin: auto;
  height: 5em;
  width: 100%;
  background-color: var(--color3);
  font-size: var(--font-size1);
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7em;
  width: 100%;
  padding: 1.2em;
  color: #fff;
}

.checkbox-names {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* INPUT */
input {
  text-align: center;
  width: 70%;
  padding: 0.5em;
  margin-left: 20px;
  border-radius: 20px;
  outline: none;
  font-size: var(--font-size1);
}

#dropdown-label #dropdown {
  width: 25%;
  height: 2em;
  outline: none;
  font-size: var(--font-size1);
}

#radio-label input {
  height: 1.3em;
  outline: none;
}

#checkbox-label input {
  height: 1.3em;
  outline: none;
}

/* TEXTAREA */
#textarea-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

#textarea {
  resize: none;
}

#submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
  margin: 3rem;
  width: 40%;
  background-color: var(--color2);
  font-family: var(--font-fam1);
  font-size: var(--font-size1);
  transition: 0.4s ease;
}

#submit:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: var(--color4);
}
