@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid black;
}

:root {
  /* COLORS */
  --color1: #01dce6;
  --color2: #0dfcc5;
  --color3: #0db1fc;
  --color4: #0cf27c;
  --color5: #0c6ef2;

  /* FONT */
  --font-fam1: "Krona One", sans-serif;
  --font-size1: 1.2rem;
  --font-size2: 2.7rem;
}

body {
  background-color: var(--color1);
  height: 100%;
  font-family: var(--font-fam1);
  font-size: var(--font-size1);
}

/* TITLE */
#title {
  align-content: center;
  padding: 30px 30px;
  width: 100%;
  margin: 30px 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--color5);
  font-size: var(--font-size2);
}

#description {
  font-style: italic;
  text-align: center;
  padding: 0.7em;
  margin: 2em auto;
  background-color: var(--color2);
}

/* FORM */
#survey-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: auto;
  margin: 5em auto;
  background-color: var(--color5);
}

/* FORM ELEMENTS */
h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1em;
  margin: auto;
  height: 5em;
  width: 100%;

  background-color: var(--color3);
  font-size: var(--font-size1);
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4em;
  width: 100%;
  padding: 1.2em;
  color: #fff;
}

input {
  width: 100%;
  padding: 0.5em;
  margin-left: 20px;
  font-size: var(--font-size1);
}
/* #name {
}

#email {
}

#number {
}

#name-label {
}

#email-label {
}

#number-label {
}

#dropdown {
}

#dropdown-label {
}

#radio-buttons-label {
}

#checkbox-label {
}

#textarea-label {
}

#submit {
  margin: 50px;
} */
