* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  /* COLORS */
  --color1: #97cde6;
  --color2: #435b66;
  --color3: #54baea;
  --color4: #255166;
  --color5: #769fb3;

  /* FONTS */
  --fontFam1: "Poppins", sans-serif;
  --fontSizeLarge: 1.5rem;
  --fontSizeMedium: 1rem;
  --fontSizeSmall: 0.7rem;
}

/* MAIN */
#main-doc {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  font-family: var(--fontFam1);
  font-size: var(--fontSizeMedium);
  background-image: linear-gradient(90deg, var(--color4) 10%, var(--color1));
}

/* NAVBAR */
/* .navbar-container {
  border: 0.5px solid black;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/6;
  width: 100%;
  color: #fff;
  font-family: var(--fontFam1);
  background-color: var(--color2);
} */

#navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 20%;
  background-color: var(--color2);
}

#navbar header {
  width: 100%;
}

#navbar header h1 {
  width: 100%;
  padding: 0.5rem;
  font-size: var(--fontSizeLarge);
  background-color: var(--color5);
}

#navbar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#navbar li {
  width: 100%;
  height: auto;
  margin: 0.3em;
  list-style: none;
  padding: 1em;
  transition: 0.1s ease;
}

#navbar li a {
  width: 100%;
  height: auto;
  color: #fff;
  text-decoration: none;
  font-size: var(--fontSizeMedium);
}

#navbar li:hover {
  background-color: var(--color3);
}

/* SECTION */
.section-container {
  grid-column: 2/8;
  grid-row: 1/6;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 2em;
  margin: 2.5% 10%;
}

h3 {
  font-size: var(--fontSizeLarge);
}

.section-container ul {
  list-style: none;
  font-style: italic;
  font-weight: 700;
}

hr {
  width: 100%;
  margin: 5%;
}

/* MEDIA QUERIES */
/* 1700px */
@media (max-width: 1700px) {
  #navbar {
    width: 20%;
    background-color: var(--color2);
  }

  #main-doc {
    font-family: var(--fontFam1);
    font-size: var(--fontSizeMedium);
    background-image: linear-gradient(90deg, var(--color1) 10%, var(--color4));
  }

  .section-container {
    line-height: 1.7em;
    margin: 2.5% 10%;
  }
}

/* 620px */
@media (max-width: 620px) {
  #navbar {
    width: 20%;
    background-color: var(--color5);
  }

  #navbar header h1 {
    width: 100%;
    padding: 0.5rem;
    color: #fff;
    font-size: var(--fontSizeMedium);
    background-color: var(--color4);
  }

  #navbar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  #navbar li {
    width: 100%;
    height: auto;
    list-style: none;
    padding: 0.8em;
    transition: 0.1s ease;
  }

  #navbar li a {
    width: auto;
    height: auto;
    color: #fff;
    text-decoration: none;
    font-size: var(--fontSizeMedium);
  }
}

/* 480px */
@media (max-width: 480px) {
  #navbar {
    width: 20%;
    background-color: var(--color5);
  }

  #navbar header h1 {
    width: 100%;
    padding: 0.5rem;
    color: #fff;
    font-size: var(--fontSizeSmall);
    background-color: var(--color4);
  }

  #navbar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
  }

  #navbar li {
    width: 100%;
    height: auto;
    list-style: none;
    transition: 0.1s ease;
  }

  #navbar li a {
    width: auto;
    height: auto;
    color: #fff;
    text-decoration: none;
    font-size: var(--fontSizeSmall);
  }
}
