* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  /* COLORS */
  --color1: #97cde6;
  --color2: #435b66;
  --color3: #54baea;
  --color4: #255166;
  --color5: #769fb3;

  /* FONTS */
  --fontFam1: "Poppins", sans-serif;
  --fontSizeLarge: 1.5rem;
  --fontSizeMedium: 1.2rem;
  --fontSizeSmall: 0.7rem;
}

/* MAIN */
#main-doc {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  font-family: var(--fontFam1);
  font-size: var(--fontSizeMedium);
  background-image: linear-gradient(90deg, var(--color4) 10%, var(--color1));
}

/* NAVBAR */
.navbar-container {
  border: 0.5px solid black;
  grid-column: 1/2;
  grid-row: 1/6;
  width: 100%;
  color: #fff;
  font-family: var(--fontFam1);
  background-color: var(--color2);
}

#navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 14%;
}

#navbar header {
  width: 100%;
}

#navbar header h1 {
  width: 100%;
  padding: 0.5rem;
  font-size: var(--fontSizeLarge);
  background-color: var(--color5);
}

#navbar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#navbar li {
  width: 100%;
  height: auto;
  margin: 0.3em;
  list-style: none;
  padding: 1em;
  transition: 0.1s ease;
}

#navbar li a {
  width: 100%;
  height: auto;
  color: #fff;
  text-decoration: none;
  font-size: var(--fontSizeMedium);
}

#navbar li:hover {
  background-color: var(--color3);
}

/* SECTION */
.section-container {
  border: 0.5px solid black;
  grid-column: 2/8;
  grid-row: 1/6;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 35px;
  margin: 2.5% 10%;
}

.scetion-container h3 {
  font-size: var(--fontSizeLarge);
}

.section-container ul {
  list-style: none;
  font-style: italic;
  font-weight: 700;
}

hr {
  width: 100%;
  margin: 5%;
}

/* First shrink changes*/
/* @media (max-width: 1700px) {
  .navbar-container {
    background-color: lightgreen;
    grid-column: 1/3;
    grid-row: 1/6;
  }
  .section-container {
    background-color: lightblue;
    grid-column: 3/8;
    grid-row: 1/6;
  }
} */

/* Second shrink changes*/
/* @media (max-width: 900px) {
  .navbar-container {
    background-color: lightblue;
    grid-column: 1/4;
    grid-row: 1/6;
  }
  .section-container {
    background-color: lightgreen;
    grid-column: 4/8;
    grid-row: 1/6;
  }
} */
